".source.css, .source.scss, .source.sass, .source.less, .source.styl":
  "Flexbox - align-self: auto;":
    "prefix": "flexsel"
    "body": "align-self: ${1:auto|flex-start|flex-end|center|baseline|stretch};"
