".source.css, .source.scss, .source.sass, .source.less, .source.styl":
  "Flexbox - align-content: flex-start;":
    "prefix": "flexcon"
    "body": "align-content: ${1:flex-start|flex-end|center|space-between|space-around|stretch};"
